# Node IP Addresses
MASTER_NODE=10.0.0.129
WORKER_NODE_1=10.0.0.130
WORKER_NODE_2=10.0.0.131

# Kubernetes Environment variables
APISERVER_ADVERTISE_ADDRESS=10.0.0.129
__CNI_MTU__=1500
__CALICO_YAML_DIRECTORY__=/home/dalexander/k8s/calico
CALICO_DISABLE_FILE_LOGGING=info
CALICO_IPV4POOL_CIDR=/16
CALICO_IPV4POOL_IPIP=Always
CALICO_IPV4POOL_VXLAN=Never
CALICO_NETWORKING_BACKEND=bird
CNI_CONF_NAME=
CNI_NETWORK_CONFIG=
DATASTORE_TYPE=kubernetes
FELIX_DEFAULTENDPOINTTOHOSTACTION=
FELIX_HEALTHENABLED=
FELIX_IPV6SUPPORT=
FELIX_IPINIPMTU=
FELIX_LOGSEVERITYSCREEN=
FELIX_VXLANMTU=
K8S_API_ROOT=http://10.0.0.129:6443
KUBECONFIG=/home/dalexander/.kube/config
__KUBECONFIG_FILEPATH__=/etc/kubernetes/admin.conf
__KUBECONFIG_DIRECTORY__=/home/dalexander/.kube
__KUBERNETES_NODE_NAME__=k8s-master
__KUBERNETES_SERVICE_HOST__=10.0.0.129
__KUBERNETES_SERVICE_PORT__=6443
NODENAME=k8s-master
__SERVICEACCOUNT_TOKEN__=
__POD_NETWORK_CIDR__=192.168.0.0/16
WAIT_FOR_DATASTORE=

# User Environment variables
K8S_USER=dalexander
USER_HOME=/home/dalexander

