# Ignore Directories

.vscode
cert/
# Ignore Files
.scratch
**/config.example
typha.yaml
k8s.env
calico-kubeconfig
hosts.conf
metrics-ca-config.yaml
*.env
*.conf
ca.crt
ca.key
ca.srl
server.crt
server.csr
server.key
kubeadm-config.yaml
kubeconfigmap.yaml
init.py
init_os.sh
cert-ca-config.yaml
extension-apiserver-authentication.yaml
kubeadm-config.yaml
pod-etcd-k8s-master-node.dellius.app.yaml
test.sh
cert_manager/letsencrypt.yaml
apiServerCertSANs.yaml
kubeadm-*-defaults.yaml
master-config.yaml
ext-api-auth-configmap.yaml
ext-api-auth-configmap.yaml
ext_apiserver_auth.sh